/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/08/2016, 18:04:51
    Author     : CLIENTE
*/

.home{
    max-width: 50px;
    padding-top: 10px;
}

.filho{
    color:#5D93CD;
}

.mdl-textfield__input{
    color:#5D93CD;
}